@import '../../styles/base';


.planWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  //align-items: center;
  justify-content: center;
  padding: $size-40;

  .planWrapperInner {
    position: relative;
    height: 100%;

    .planSvg {
      width: 100%;
      height: 100%;

      .room {
        //Аудитории
        &[fill='#3B3C41'] {
          //transition: fill 200ms ease;

          &:hover:not(.selected) {
            fill: #3D4356;
          }

          &.selected {
            fill: #4A5598;
          }
        }

        //Другие помещения
        &:not([fill='#3B3C41']) {
          opacity: 1;
          fill-opacity: 0.2;
          filter: saturate(1);

          &:hover:not(.selected) {
            fill-opacity: 0.3;
          }

          &.selected {
            fill-opacity: .5;
            filter: saturate(1.5);
          }
        }

        &.animated {
          transition: all 200ms ease;
        }
      }

      .entrance {
        fill-opacity: 1;

        &:not(.selected) {
          fill-opacity: 0;
        }

        &.animated {
          transition: all 200ms ease;
        }
      }

      .noSelect {
        pointer-events: none;
        user-select: none;
        user-focus: ignore;
        -moz-user-focus: ignore;
      }
    }

    .planAddingObjects {
      pointer-events: none;
      user-select: none;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;

      * {
        pointer-events: auto;
      }

      path.way {
        stroke: $ext-color-way;
        stroke-width: 5px;
        fill: none;

        &.wayAnimation {
          animation: way-animation 1000ms 150ms forwards;

          @keyframes way-animation {

            100% {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      circle.startCircle {
        position: relative;
        fill: $ext-color-way;


        &.wayAnimation {
          animation: circle-start 250ms ease-out forwards;

          @keyframes circle-start {
            from {
              r: 0;
            }

            to {
              r: 10;
            }
          }
        }
      }

      .endArrow {
        fill: $ext-color-way;

        &.wayAnimation {
          animation: end-arrow-start 1000ms forwards, end-arrow-animation 200ms 1000ms forwards;

          @keyframes end-arrow-start {
            from {
              visibility: hidden;
            }
            99% {
              visibility: hidden;
            }
            to {
              visibility: visible;
            }
          }

          @keyframes end-arrow-animation {
            from {
              d: path("M15 11L12 13.5L13 11L12 8.58L15 11Z");
            }
            to {
              d: path("M20 11L0 22L3 11L0 0L20 11Z");
            }
          }
        }
      }
    }
  }
}
