.menuItem {
  color: $c5-White;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 91%;

  border-radius: 1px;
  border-bottom: 2px solid $c3-Highlight;

  button {
    display: flex;
    align-items: center;
    column-gap: 10px;

    width: 100%;

    padding: 10px 0;

    span {
      text-align: left;
    }
  }
}
