@import '../../../../styles/base';

.searchMenu {
  margin-bottom: calc($size-40);
  margin-top: calc($size-20 * 3);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $size-20;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  .results {
    height: 0;
    flex-grow: 1;
    display: flex;
    padding-bottom: $size-20;
    overflow-y: scroll;
    flex-direction: column;

    @media (max-width: 900px) {
    }

    @media (min-width: 900px) {
    }
  }

  .noResults {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-20;
  }

  .noResultsGif {
    width: toRem(140);
    height: toRem(140);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/male-shrug.gif');

    @media (max-width: 992px) {
      width: toRem(160);
      height: toRem(160);
    }
    @media (max-width: 600px) {
      width: toRem(180);
      height: toRem(180);
    }
  }

  .noResultsText {
    @extend %text-2; // base main text
    font-size: toRem(16);
    line-height: toRem(20);
    color: $color-4;
    text-align: center;

    @media (max-width: 992px) {
      font-size: toRem(17);
      line-height: toRem(21);
    }
    @media (max-width: 600px) {
      font-size: toRem(18);
      line-height: toRem(22);
    }
  }

  .quickActions {
    display: none;
    //display: flex;
    gap: $size-10;
    flex-wrap: nowrap;
    height: fit-content;

    //background-color: #63E3D4;
    overflow-x: scroll;
    overflow-y: hidden;

    @media (max-width: 992px) {
      scrollbar-width: none;
    }
  }

  .fakeFocusBtn {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
