@import '../../../../styles/base';

.searchMenu {
  margin-bottom: calc($size-10 * 7);
  width: 100%;
  height: 100%;

  //background-color: $color-1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $size-20;

  .results {
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    //background-color: #1D253A;
  }

  .quickActions {
    display: flex;
    gap: $size-10;
    flex-wrap: nowrap;
    height: fit-content;

    //background-color: #63E3D4;
    overflow-x: scroll;
    overflow-y: hidden;

    @media (max-width: 992px) {
      scrollbar-width: none;
    }
  }
}
