@use '../../../styles/base' as *;

.bottomControlsLayer {
  position: absolute;
  z-index: 2;
  right: $size-10;
  left: $size-10;
  bottom: $size-20;
  //top: calc(100dvh - $size-40 - $size-20);
  //inset: auto $size-10 $size-20 $size-10;
  translate: 0;

  display: flex;
  justify-content: space-between;
  transition: all 300ms ease;
  gap: $size-10;
  pointer-events: none;

  @include desktop {
    top: toRem(70);
    bottom: unset;

    width: toRem(340);
  }

  @include mobile {
    &.centered {
      translate: 0 toRem(-129);
    }
  }

  &.flexCenter {
    justify-content: center;
  }

  &.searchOpen {
    @include mobile {
      top: calc($size-40);
    }
    transition: all 500ms ease;
    z-index: 3;
    justify-content: space-between;

    .favouriteBtn {
      pointer-events: none;
      opacity: 0;
    }
  }

  .locationsBtn {
    padding-left: calc($size-10 + toRem(0.5));
    padding-right: calc($size-10 - toRem(2.5));
  }
}
