@import '../../../styles/base';

.bottomControlsLayer {
  position: absolute;
  z-index: 2;
  inset: auto $size-10 $size-20 $size-10;
  translate: 0;

  display: flex;
  justify-content: space-between;
  transition: all 300ms ease;
  gap: $size-10;
  pointer-events: none;

  @media (width > 900px) {
    top: toRem(70);
    bottom: unset;

    width: toRem(340);
  }

  @media (width <= 900px) {
    &.centered {
      translate: 0 toRem(-129);
    }
  }

  &.flexCenter {
    justify-content: center;
  }


  &.searchOpen {
    z-index: 3;
    justify-content: space-between;

    .favouriteBtn {
      pointer-events: none;
      opacity: 0;
    }
  }

  .locationsBtn {
    padding-left: calc($size-10 + toRem(0.5));
    padding-right: calc($size-10 - toRem(2.5));
  }

}
