.additionalInfo__packet {
  position: relative;
  bottom: 0;
  width: 100%;

  padding: 1.25rem;

  border-radius: 1.25rem 1.25rem 0px 0px;
  border: 1px solid $c3-Highlight;
  border-bottom: unset;
  background: $c2-Dark;

  h2 {
    color: $c5-White;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  span {
    color: $c4-Light;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &::before {
    position: absolute;
    left: 50%;
    top: 0.625rem;
    transform: translateX(-50%);

    content: "";
    width: 2.5rem;
    height: 0.1875rem;
    border-radius: 5px;
    background: $c3-Highlight;
  }
}

.additionalInfo__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.additionalInfo__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.additionalInfo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.25rem;
}

.additionalInfo__button {
  // padding-top: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;

  button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
      color: $c3-Highlight;
    }
  }
}

.showAddInfo {
  animation: showAddInfo 0.4s ease-out forwards;
}

.hideAddInfo {
  animation: hideAddInfo 0.4s ease-out forwards;
}

.additionalInfo__packet-hidden {
  transform: translateY(200px);
  max-height: 0;
  opacity: 0;
}
