.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  border: 1px solid $c3-Highlight;
  background: $c2-Dark;
  box-shadow: 0px 0px 8px 0px rgba(19, 20, 22, 0.4);

  width: 2.5rem;
  height: 2.5rem;

  outline: none;

  &:active {
    background: $Active;
  }
}

img {
  pointer-events: none;
}
