.plan {
  position: relative;

  height: 100vh;
}

.plan__wrapper {
  position: absolute;
  width: 100%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan__image {
  height: 70vh;
}

.plan::-webkit-scrollbar {
  //Убираем визуально скроллы, но функциональность сохраняем
  display: none;
}

.plan__wrapper::-webkit-scrollbar {
  //Убираем визуально скроллы, но функциональность сохраняем
  display: none;
}

::-webkit-scrollbar {
  //Убираем визуально скроллы, но функциональность сохраняем
  display: none;
}

.react-transform-wrapper {
  overflow: unset !important;
}

.text__wrapper {
  position: fixed;
  left: 0.625rem;
  top: 1.25rem;

  display: flex;
  align-items: center;
  column-gap: 35px;
}

.text__name {
  color: $c4-Light;
  text-align: center;

  text-shadow: 0px 0px 8px rgba(19, 20, 22, 0.4);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_wrapper {
  position: fixed;
}

.button_burger {
  position: unset;
}

.button_heart {
  position: unset;
  left: 0.625rem;
  bottom: 1.25rem;
}

.button_home {
  position: unset;
  right: 0.625rem;
  bottom: 1.25rem;
}

.floorScroll_wrapper {
  position: fixed;
  left: 0.625rem;
  top: 57%;
  transform: translateY(-50%);
}

.scaleButton_wrapper {
  position: fixed;
  right: 0.625rem;
  top: 57%;
  transform: translateY(-50%);

  z-index: 10;
}

.searchPsevdoInput_wrapper {
  position: unset;
}

.common__wrapper {
  position: fixed;
  bottom: 0;

  width: 100%;
}

.common__wrapper_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.625rem;

  margin-bottom: 1.25rem;
}

.additionalInfo__wrapper {
  transform: translateY(200px);
}

.menu_wrapper {
  position: fixed;
  left: 0;
  width: 90%;
  top: 0;
  bottom: 0;

  z-index: 20;

  transform: translateX(-100%);
}

.showMenu {
  animation: showMenu 0.4s ease-out forwards;
}

.hideMenu {
  animation: hideMenu 0.4s ease-out forwards;
}
