@use '../../../../styles/base' as *;

.spaceInfo {
  width: 100%;
  position: relative;
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .title {
    @extend %text-3;
    margin-right: toRem(30);

    @include desktop {
      order: 2;
      margin-top: $size-20;
    }

    .spaceIcon {
      display: inline-block;
      margin-right: $size-10;
      position: relative;
      top: 3px;
    }
  }

  .location {
    color: $color-4;
    margin-top: toRem(8);
    margin-bottom: $size-15;
    transition: all 350ms ease;
    display: flex;
    flex-direction: column;

    &.isExpanded {
      margin-top: toRem(16);
      gap: toRem(8);
      overflow: auto;
    }

    @include desktop {
      display: none;
    }
  }

  .headingParagraph {
    font-weight: 700;
  }

  .pastParagraph {
    opacity: 0.45;
  }

  .currentParagraph {
    color: $color-5;
    font-weight: 700;
  }

  .actions {
    display: flex;
    gap: $size-10;

    @include mobile {
      transition: all 0.3s ease;
      &.topActions {
        position: absolute;
        left: 0;
        right: 0;
        height: 100px;
        top: toRem(60);
        background-color: rgba($color-2, 0.75);
        box-shadow: 0 0 12px 12px rgba($color-2, 0.75);
        // backdrop-filter: blur(0.5px);

        &.isExpanded {
          opacity: 0;
          user-select: none;
          pointer-events: none;
        }
      }

      .heartBtn {
        margin-right: auto;
      }

      &.bottomActions {
        margin-top: auto;
        margin-bottom: $size-20;
      }
    }

    @include desktop {
      &.bottomActions {
        display: none;
      }
    }

    @include desktop {
      .heartBtn {
        margin: unset;
      }
    }
  }
}
