@import '../../../styles/base';

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.sizeM {
    width: $size-20;
    height: $size-20;
    min-width: $size-20;
  }

  &.sizeS {
    width: toRem(16);
    height: toRem(16);
    min-width: toRem(16);
  }

  &.sizeL {
    width: toRem(24);
    height: toRem(24);
    min-width: toRem(24);
  }

  &:not(.initialColor) {
    svg [fill]:not([fill='none']) {
      fill: currentColor;
    }

    svg [stroke]:not([stroke='none']) {
      stroke: currentColor;
    }
  }

  &.initialColor {
    color: inherit;
  }
}
