.searchMenu_wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 30;

  border-radius: 1.25rem 1.25rem 0px 0px;
  border-top: 1px solid $c3-Highlight;

  &::before {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    content: "";
    width: 2.5rem;
    height: 0.1875rem;
    border-radius: 5px;
    background: $c3-Highlight;
  }

}

.SearchMenu__content {
  display: flex;
  flex-direction: column;
  background-color: $c2-Dark;
  height: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  justify-content: space-between;

}

.SearchMenu__block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: start;
  flex-grow: 1;
}

.SearchMenu__buttons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  column-gap: 20px;

  button img {
    width: 23px;
    height: 20xpx;
  }

  padding: 0 20px 0 10px;
}


