@import 'functions';

/*        COLORS        */

$color-1: #131416; //background
$color-2: #1c1f26; //dark
$color-active: #1d253a;
$color-hover: #2b2e36;
$color-3: #4c515c; //highlight
$color-4: #a0a4ad; //light
$color-5: #d9d9d9; //white
$color-link: #91aae0;

/*        EXTENDS COLORS        */

$ext-color-blue: #9cbbff;
$ext-color-cyan: #63e3d4;
$ext-color-way: #6cdea7;
$ext-color-green: #9cd9bc;

/*        SIZES        */

$size-5: toRem(5);
$size-10: toRem(10);
$size-15: toRem(15);
$size-20: toRem(20);
$size-40: toRem(40);
$inf: 10000px;

/*        INHERITANCE EXTENDS        */
//InheritanceExtends
%border-default {
  border: $color-3 1px solid;
  //border: $color-3 toRem(1) solid;
  border-radius: $size-20;
}

%shadow-default {
  box-shadow: 0 0 8px 0 rgba(19, 20, 22, 0.5);
}

/*        DURATION        */
$search-anim-dur: 500ms;
