@use "sass:math";
@import './fonts';
@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

:root {
  font-family: 'Gilroy', 'Inter', 'Segoe UI', 'Roboto', -apple-system, system-ui, Helvetica, Arial, sans-serif;
  //TODO: ПЕРЕД ДЕПЛОЕМ/КОММИТОМ ОТКЛЮЧИТЬ
  font-size: 14px;
  line-height: math.div(18px, 14px) * 1rem;
  font-weight: 500;

  color-scheme: dark;
  color: $color-5;
  background-color: $color-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100dvh;
}

html {
  width: 100%;
  height: 100dvh;
}


a, button, input {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  outline: none;
  border: none;
  background: transparent none;
}

button {
  cursor: pointer;

  &:focus-visible {
    outline: $ext-color-cyan toRem(2) solid;
  }
}




body {
  display: flex;

  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 100dvh;

  place-items: center;
  overflow: hidden;

  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  //#root {
  //  height: 2000px !important;
  //}
}

// TODO: отключить
//*:hover, *:focus {
//  outline: #63E3D422 toRem(1) solid;
//}
