@import '../../../../styles/base';

.wayInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wayInfoContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapButton {
  min-width: toRem(40);
  height: toRem(40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.waySteps {
  width: 100%;
  border-top: 1px solid $color-3;
  margin-top: toRem(15);
}

.wayStepsList {
  display: flex;
  flex-direction: column;
  gap: toRem(15);
  padding-bottom: toRem(10);
  margin-top: toRem(5);
}

.wayStepsItem {
  display: flex;
  gap: toRem(15);
  height: toRem(35);
  align-items: center;
  position: relative;
}

.wayStepsText {
  color: $color-4;
  font-size: toRem(14);
  font-weight: 500;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.wayStepsItem:first-child .wayStepsText,
.wayStepsItem:last-child .wayStepsText {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.wayStepsItem::before,
.wayStepsItem::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: $color-3;
}

.wayStepsItem::before {
  color: $color-3;
  top: -4px;
  left: 9px;
  box-shadow:
    0 0 0 0,
    0 7px 0 0;
}

.wayStepsItem::after {
  color: $color-3;
  bottom: 0px;
  left: 9px;
  box-shadow:
    0 0 0 0,
    0 7px 0 0;
}

.wayStepsItem:first-child {
  &::before {
    display: none;
  }
}

.wayStepsItem:last-child {
  &::after {
    display: none;
  }
}
