.audienceItem__item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid $c3-Highlight;
  transition: all 0.3s;
  &:has(.audienceItem__desc) {
    align-items: start;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: $Active;
  }
}


.audienceItem__item:last-child {
  border: none;
}


.audienceItem__icon {
  margin-right: 10px;
  margin-top: -2px;
}

.audienceItem__text {
  display: flex;
  flex-direction: column;
  color: $c5-White;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.audienceItem__name {

}

.audienceItem__desc {
  margin-top: 5px;
  color: $c4-Light;
}