.searchBar_packet {
  width: 140px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;

  border-radius: 20px;
  border: 1px solid $c3-Highlight;
  background: $c1-Background;
  box-shadow: inset 0 0 0 1px $c2-Dark;

  &:active {
    background: $Active;
  }
}

.searchBar_input {
  color: $c3-Highlight;
  text-align: center;

  //   font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50px;
}

