@import '../../styles/base';

.middleAndTopControlsLayer {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: $size-10 $size-10 $size-20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  pointer-events: none;
  opacity: 1;
  transition: opacity 200ms ease-in;

  &.hidden {
    opacity: 0;
    animation: hide 0s 400ms forwards;
  }

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $size-20;

    .planInfo {
      @extend %text-4;
      color: $color-4;
    }

  }

  .middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}
