@import '../../../styles/base';

.bottomLayer {
  //noinspection CssInvalidPropertyValue
  position: absolute;
  z-index: 2;
  width: 100%;
  //noinspection CssInvalidPropertyValue
  top: calc(100dvh - toRem(129));
  pointer-events: auto;
  @extend %shadow-default;
  transition: all ease 300ms;
  background-color: $color-2;
  @extend %border-default;
  display: flex;
  flex-direction: column;
  padding: 0 $size-20;

  @media (max-width: 900px) {
    inset: 0;
    height: 100%;
    min-height: calc(100dvh - $size-20);
    //noinspection CssInvalidPropertyValue
    translate: 0 calc(100dvh - toRem(130));
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.hidden {
      translate: 0 100dvh;
      box-shadow: none;
    }

    &.expanded {
      translate: 0 calc($size-20);
      transition: all ease 500ms;

      @media (orientation: portrait) {
        -moz-transition: none;
      }
    }

    &.fullscreen {
      translate: 0 toRem(70);
      height: calc(100% - toRem(70));
      transition: all ease 500ms;
    }

    &.dragging {
      transition: none;
    }
  }

  @media (min-width: 900px) {
    width: toRem(340);
    //height: toRem(180);
    height: 60%;
    overflow-y: scroll;
    top: toRem(130) !important;
    left: $size-10;
    translate: 0;
    transition: all 500ms ease;

    &.expanded {
      height: 60%;
    }

    &.fullscreen {
      height: calc(100% - toRem(70));
      width: 100%;
      top: toRem(70);
      left: 0;
      border-radius: 0;
    }

    &.hidden {
      height: 0;
      border: none;

      * {
        visibility: hidden;
      }
    }
  }

  .slider {
    width: $size-40;
    height: toRem(3);
    margin: $size-10 auto toRem(7) auto;
    background-color: $color-3;
    border-radius: toRem(2);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }

  .closeBtn {
    z-index: 1;
    position: absolute;
    top: $size-20;
    right: $size-20;
  }
}

.showIndicator {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: toRem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(28, 31, 38, 0.95) 0%, rgba(28, 31, 38, 0.8) 70%, transparent 100%);
  pointer-events: auto;
  cursor: pointer;
  transition: opacity 300ms ease;

  &:hover {
    background: linear-gradient(to top, rgba(28, 31, 38, 1) 0%, rgba(28, 31, 38, 0.9) 70%, transparent 100%);
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: 900px) {
    display: none;
  }
}

.indicatorSlider {
  width: $size-40;
  height: toRem(3);
  background-color: $color-3;
  border-radius: toRem(2);
  margin-bottom: toRem(8);
}