body {
  font-family: "Manrope";
  color: rgb(240, 240, 240);
  font-size: 16px;
  background: rgb(30, 30, 30);
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

::-webkit-scrollbar { //Убираем визуально скроллы, но функциональность сохраняем
  display: none;
}

@font-face {
  font-family: "GothamSSm";
  src: url("../../fonts/Gotham/GothamXNarrow-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(76, 81, 92);
  border-radius: 4.5rem;
  box-shadow: 0px 0px 24px 0px rgba(20, 20, 20, 0.4);
  background: rgb(28, 31, 38);
  width: 9rem;
  height: 9rem;
}

.title1 {
}

.titleH2 {
  // font-size: clamp();
  // font-weight: ;
  // line-height: ;
}

.title3 {
  // font-size: clamp();
  // font-weight: ;
  // line-height: ;
}

.subtitleP {
  // font-size: clamp();
  // font-weight: ;
  // line-height: ;
}
