body {
  background: #1e1e1e;
  font-family: "Gilroy";
}

* {
  -webkit-tap-highlight-color: transparent; /* Убирание эффекта активного состояния при нажатии */
}

.none {
  display: none !important;
}
