.searchPsevdoInput_packet {
  width: 140px;
  height: 40px;
  padding: 9px 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  border-radius: 20px;
  border: 1px solid $c3-Highlight;
  background: $c1-Background;
  cursor: pointer;
  outline: 2px solid $c2-Dark;
  outline-offset: -3px;

  &:active {
    background: $Active;
  }
}

.searchPsevdoInput_input {
  color: $c3-Highlight;
  text-align: center;

  //   font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}


